#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-GameBoard {
  position: relative;
}

.game-container .players {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.game-container .player {
  width: 50%;
}

@media (max-width: 900px) {
  .game-container .players {
    flex-direction: column;
  }

  .game-container .player {
    width: 100%;
  }

}